click==8.1.2
-e git+ssh://git@github.com/FlorianFusseder/wordle.git@899cc9b64952f517ec5fc8a13783b0cc4fc0ae7b#egg=wordle
-e git+ssh://git@github.com/FlorianFusseder/wordle.git@899cc9b64952f517ec5fc8a13783b0cc4fc0ae7b#egg=wordle_helper
