.keyboard-button {
    border: 2px solid #39393a;
    border-radius: 4px;
    height: 35px;
    width: 35px;
    background: #cdd1de;
}

.keyboard-button.action-button {
    height: 35px;
    width: 80px;
}