.square {
    border: 2px solid #39393a;
    border-radius: 4px;
    font-size: 40px;
    text-align: center;
    height: 74px;
    width: 74px;
    box-sizing: border-box;
    background: #cdd1de;
}

input:disabled {
    color: black;
}

.square.contained {
    background: #ffb800;
}

.square.not_contained {
    background: #39393a;
}

.square.correct {
    background: #3bc14a;
}

input[value=""].square.current {
    border: 4px solid #39393a;
    box-sizing: border-box;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

