.square {
    border: 2px solid #39393a;
    border-radius: 4px;
    float: left;
    font-size: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 70px;
    width: 70px;
    background: #cdd1de;
}

.square.contained {
    background: #ffb800;
}

.square.not_contained {
    background: #39393a;
}

.square.correct {
    background: #3bc14a;
}

.square.current {

}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

textarea {
    resize: none;
}

