.App {
    text-align: center;
}

body{
    background-color: #94999e;
}

.App-header {
    background-color: #94999e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    height: 60px;
}
